:root {
	--font-family-base: "Montserrat", sans-serif;
	--font-family-heading: "Teko", sans-serif;
	--color-background: #2f1d1d;
	--color-primary: #dca60c;
	--color-secondary: #b6774e;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: var(--font-family-base);
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	background-color: var(--color-background);
	background: url("../public/background.jpg");
	background-size: 800px;
	color: #ffffff;
	box-shadow: 0 400px 100px rgba(0, 0, 0, 0.33) inset;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

@media (min-width: 680px) {
	body {
		box-shadow: 0 200px 50px rgba(0, 0, 0, 0.5) inset;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-family-heading);
	font-weight: 400;
	text-transform: uppercase;
}

a {
	color: var(--color-primary);
}

.MuiSlider-markLabel {
	color: #ffffff !important;
}

.MuiSlider-valueLabel {
	background: var(--color-secondary) !important;
}

.MuiSlider-valueLabelLabel {
	font-weight: 700;
	font-family: var(--font-family-base);
}

.MuiSlider-thumb:hover {
	box-shadow: 0px 0px 0px 8px rgb(220 166 12 / 25%) !important;
}

.MuiSlider-mark {
	width: 2px !important;
	height: 6px !important;
	background: var(--color-background) !important;
}
