table {
	border-collapse: collapse;
	font-size: 0.9em;
	font-family: sans-serif;
	text-align: left;
	width: 100%;
	font-size: 16px;
}

table thead tr {
	background-color: var(--color-primary);
	border-bottom: 4px solid var(--color-background);
	color: #ffffff;
	text-align: left;
}

table th,
table td {
	padding: 12px 15px;
}

table tbody tr:not(:last-of-type) {
	border-bottom: 1px solid #dddddd;
}
